:root {

    --background-color: #202020;
    --darker-color: #121212;
    --font: 'Roboto Mono', monospace;

}

html, body {

    background-color: var(--background-color);
    font-family: var(--font);
    font-size: 150%;
    color: white;
    margin: 2%;
    scroll-behavior: smooth;

}

.card-header {

    margin-left: -2%;
    margin-top: -2%;
    
}

.card-title { margin: 2%; }

.btn {

    position: fixed;
    right: 2%;
    width: 5%;
    height: 10%;
    bottom: 3%;
    border-radius: 20%;
    font-size: 105%;
    background-color: var(--darker-color);
    border: var(--background-color);
    outline: none;

}

#canvas {

    border: 8px solid var(--darker-color);
    border-radius: 20px;
    z-index: 7;
    position: absolute;
    left: 75%;
    top: 35%;

}

#canvasimg {

    width: 280;
    height: 280;
    display: none;

}

#clearButton {

    z-index: 10;
    position: absolute;
    left: 75%;
    top: 66%;
    width: 65px;
    height: 65px;
    border-radius: 20%;
    font-size: 50%;
    background-color: var(--darker-color);
    border: var(--background-color);
    outline: none;

}

#identifyButton {

    z-index: 10;
    position: absolute;
    left: 87%;
    top: 66%;
    width: 65px;
    height: 65px;
    border-radius: 20%;
    font-size: 50%;
    background-color: var(--darker-color);
    border: var(--background-color);
    outline: none;

}

#log {

    margin: 1%;
    padding: 1%;
    width: 1100px;
    height: 600px;
    font-size: 45%;
    border-radius: 20px;
    background-color: black;
    display: list-item;
    overflow-y: auto;

}

.command-log {

    margin: 1.5%;
    font-size: 100%;
    background-color: black;
    width: 85%;

}

.command-input {

    background-color: black;
    color: white;
    outline: none;
    margin-left: 0.5%;
    font-family: var(--font);
    font-size: 98%;
    border: none;
    width: 85%;

}

#predictionResult { text-align: center; }

.success-log { color: rgb(29, 252, 29); margin-left: 1.5%; }

.normal-log { color: rgb(233, 233, 233); margin-left: 1.5%; }

.prediction-canvas {

    border-style: solid;
    border-radius: 10px;
    margin-left: 30px;

}

.custom {

    transform: translateY(-8.9%);

}

.prediction-div {

    background-color: var(--darker-color);
    border-radius: 15px;
    padding: 1%;
    
    font-size: 50%;
    text-align: center;
    height: 250px;
    width: 200px;

}

.success { border-color: rgb(90, 255, 115); }

.fail { border-color: rgb(255, 64, 150); }

::-webkit-scrollbar { width: 10px; }
  
::-webkit-scrollbar-track { background: var(--background-color); }
  
::-webkit-scrollbar-thumb { background: var(--darker-color); }
  
::-webkit-scrollbar-thumb:hover { background: #555; }